name: ci

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: prepare # texlive-latex-base texlive-fonts-recommended texlive-fonts-extra texlive-latex-extra
      run: |
        sudo apt-get install -y xsltproc
        xsltproc --version
        cd /tmp
        curl -L -o install-tl-unx.tar.gz https://mirror.ctan.org/systems/texlive/tlnet/install-tl-unx.tar.gz
        zcat < install-tl-unx.tar.gz | tar xf -
        cd install-tl-2*
        perl ./install-tl --texdir=~/texlive --texuserdir ~/.texlive --no-doc-install --no-src-install --no-verify-downloads --scheme=scheme-basic --no-interaction
        # may take several hours to run
        # e.g., /usr/local/texlive/2025/bin/x86_64-linux
        PATH=~/texlive/bin/x86_64-linux:$PATH
        export PATH
        ls -la ~/texlive/bin/x86_64-linux
        tlmgr update --all
    - name: make prepare
      run: PATH=~/texlive/bin/x86_64-linux:$PATH make texlive.libs
    - name: make
      run: |
        PATH=~/texlive/bin/x86_64-linux:$PATH
    # double make for latex to make perfect boxes
        (make && make) || cat -n AndreyZakharov.en.tex
        (PROJ_LANG=ru make && make) || cat -n AndreyZakharov.ru.tex
        ls -lart
    # - name: Commit files
    #   run: |
    #     git diff
    #     git config --local user.email "action@github.com"
    #     git config --local user.name "GitHub Action"
    #     git commit -m "[$GITHUB_WORKFLOW] $GITHUB_REF $GITHUB_SHA result by $GITHUB_EVENT_NAME" -a
    # - name: Push changes
    #   uses: ad-m/github-push-action@master
    #   with:
    #     github_token: ${{ secrets.GITHUB_TOKEN }}
    - name: Archive production artifacts
      uses: actions/upload-artifact@v4
      with:
        name: en.pdf
        path: AndreyZakharov.en.pdf
    - name: Archive production artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ru.pdf
        path: AndreyZakharov.ru.pdf

              
